body {
    background-color: #eaf8ff;
    background-image: url('../images/result_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.character{
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.result {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.result .box{
    display: flex;
    min-height: 70px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 500px;
    line-height: 1.4;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.jobs {
    height: 200px;
    display: flex;
    gap: 10px;
}

.jobs .job{
    flex : 1;
    background-color: #ffffff;
    background-image: url('../images/result_star.png');
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    border: 1px solid #ffe603;
    border-radius: 20px;
}

.result h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.result .lecture img{
    width: 100%;
    margin-bottom: 40px;
}